@{
    ViewBag.Title = "About";
}
<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }
</style>

<hr />

<h2>About us</h2>
<p class="fig">
<img src="~/images/2015_BG_500PaceCar_1600x800.jpg" width="1200" height="560">
</p>
<hr />
<div class="container">

    
    <div class="card-panel blue-grey lighten-5">

        
        <p>
            ОДО «Эффектлига» - автосервис, лизинговые компании
            Общество с дополнительной ответственностью «Эффектлига» было создано в 1999 году. С момента своего образования и до сегодняшнего дня предприятие занимается предоставлением лизинговых услуг и является лизинговой компанией, имеет успешный опыт кредитования практически во всех крупнейших банках республики. За срок существования предприятия проведено около 200 лизинговых операций в национальной и иностранной валютах (с объемом от 10 млн. белорусских рублей до 2 млн. долларов США).

            Объектами лизинга компании являлись: технологическое оборудование; недвижимость; автотранспорт. Проведен ряд комплексных операций по созданию и формированию объектов лизинга в сфере информационных технологий. На сегодняшний день работу по предоставлению лизинговых услуг осуществляют специалисты головного офиса в количестве 5 человек, все имеют по два высших образования: в экономической и технической областях. Подробно о различных видах лизинговых операций, формах работы нашей лизинговой компании и условиях проводимых сделок можно узнать на страницах нашего сайта, посвященных лизингу.

            С 2002 года ОДО «Эффектлига» сосредоточило свою деятельность еще на одном направлении - предоставлении услуг автосервиса. На сегодняшний день в составе предприятия имеются две станции технического обслуживания (СТО), находящиеся в районах, прилегающих к центру города Минска: Старовиленская, 100 (район Комаровского рынка) и Октябрьская, 16 (район стадиона «Динамо»). Станции укомплектованы необходимым оборудованием и инструментами для проведения качественно и в сжатые сроки диагностических и ремонтных работ широкой номенклатуры импортных и отечественных легковых автомобилей и микроавтобусов, в том числе ТЯЖЕЛЫХ: «Газель», «Соболь», «Фольксваген» Т-4, Т-5, «Каравелла», а также бронированных. На сегодняшний день на предприятии трудятся около 40 человек, из которых большую часть составляют высококвалифицированные специалисты автосервиса. Ремонт автомобилей производится бригадным методом без выходных. Для получения услуг, предлагаемых нашими автосервисами в Минске, с ОДО «Эффектлига» заключили договора на обслуживание автотехники более 200 организаций и предприятий различной формы собственности, среди которых: банки, иностранные посольства, государственные учреждения, коммерческие предприятия. СТО обслуживают на регулярной основе сотни частных автовладельцев.

            Наш автосервис - это только качественный сервис для Вашего авто! После ремонта, произведенного на наших СТО, вы получаете твердую гарантию от неожиданных и досадных поломок в пути. Необходимо помнить, что ремонт автомобиля в современных условиях должен производиться только с применением специального инструмента и приспособлений специалистами, имеющими соответствующую квалификацию. Учитывая большое количество различных марок автомобилей, а также широкий модельный ряд каждой из них, такой ремонт автомобиля возможен только на мощном, технически хорошо оснащенном предприятии, специалисты которого имеют не только высокую профессиональную подготовку, но и большой опыт работы по обслуживанию автотехники. Именно таким предприятием является автосервис ОДО "Эффектлига", представленный двумя СТО в Минске.

            Обслуживание на СТО ОДО «Эффектлига» позволяет как корпоративным клиентам, так и автолюбителям гибко планировать ремонт автомобилей, производя его в удобные для себя день и время. В каждом конкретном случае мы стремимся решать проблемы клиентов индивидуально и максимально оперативно. Очевидно, что чаще всего задержки в ремонте автомобилей связаны с поставкой необходимых запасных частей. Именно эту задачу эффективно решает служба снабжения нашего автосервиса. Запчасти, масла и технические жидкости для ремонта авто на наших СТО приобретаются только у постоянных, проверенных годами совместной работы, поставщиков, что позволяет не только устанавливать приемлемые для клиентов цены, но и гарантировать высокое качество производимых работ. C преимуществами нашего автосервиса можете ознакомиться в соответствующем разделе сайта Преимущества нашего автосервиса.

            Всегда рады видеть Вас среди своих клиентов!
        </p>
    </div>
</div>

