@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<hr/>


<div class="card-panel blue-grey lighten-5">
    <p><b>Головной офис</b></p>
    <p>Телефон/факс +375-17-334-82-46</p>
    <p>Пн-Пт  с 9-00 до 18-00</p>
    <p>e-mail: adv@tut.by</p>
    <p>Веб-сайт: <a href="http://www.autoliga.by">www.autoliga.by</a></p>

    <p><b>Отдел лизинга</b></p>
    <p>(33) 692-49-57   Велком</p>
    <p>Веб-сайт: <a href="http://www.vlizing.by">www.vlizing.by</a></p>

    <p><b>СТО Старовиленская, 100</b></p>
    <p>БЕЗ ВЫХОДНЫХ с 9-00 до 20-00.</p>
    <p>(29) 374-07-01   Велком</p>

    <p><b>СТО Октябрьская, 16</b></p>
    <p>БЕЗ ВЫХОДНЫХ с 9-00 до 20-00.</p>
    <p>(29) 648-08-28   Велком</p>
</div>
    


