@{

    ViewBag.Title = "Home Page";

    <body>
        <script>
        jQuery(document).ready(function ($) {
            $('.slider').slider({ full_width: true });
        });
        </script>
        <script>
        jQuery(document).ready(function ($) {
            $('.parallax').parallax({ full_width: true });
        });
        </script>   

        <style>
            .fig {
                text-align: center; /* Выравнивание по центру */
            }
        </style>
        <hr />
        <div class="parallax-container">
            <div class="parallax"><img src="~/images/audi-rs7-7.jpg"></div>
        </div>
        <hr/>
        <div class="card-panel brown lighten-1 flow-text">
        <p>
            Автомобиль – это сотни сложнейших систем и механизмов, обеспечивающих комфорт вождения,
            безопасность водителя и пассажиров и предсказуемое и адекватное поведение на дороге.
             Чтобы использование транспортного средства было эффективным и приносило удовольствие,
             авто должно отличаться незаурядным «здоровьем». Поэтому своевременный ремонт и прохождение
             плановых мероприятий по техобслуживанию – обязательное условие гармоничного сосуществования
             с автомобилем и легкого прохождения гостехосмотра.
            
        </p>

            </div>

        <p><b class="flow-text">Мы занимаемся ремонтом автомобилей следующих марок:</b></p>
            <div class="card-panel">
                <p class="fig">

                    <img src="~/images/46017-0-334c375c8a-fullsize.jpeg" />
                </p>
            </div>

           
          <div class="card-panel brown lighten-1 flow-text">   
              <p>  
               <p><b> Что мы предлагаем?</b></p>
            
               СТО «Эффектлига» предлагает полный комплекс услуг по ремонту и техническому обслуживанию автомобилей в Минске:

              <p>Диагностика всех систем транспортного средства, в том числе – развал-схождения, подвески и др.</p>
               <p>Ремонт электрики, отвечающей за исправное функционирование дворников, сигнала, омывателей лобового стекла, автомагнитолы, электролюков и электростеклопоъемников.</p>
               <p>Шок-тест амортизаторов, их замена.</p>
               <p>Проверка тормозной системы при помощи тормозного стенда.</p>
               <p>Замена ремней ГРМ, радиатора печки, сайлентблоков, фильтров, ремня генератора, рулевой рейки и проч.</p>
               <p>Ремонт двигателя, системы охлаждения, сцепления.</p>
               <p>Регулировка света фар.</p>
               <p>Заправка кондиционеров.</p>
               <p>Замена масел и прочих технических жидкостей.</p>
               <p>Шиномонтаж.</p>

              <p><b> Почему сотни клиентов выбирают нас?</b></p>

               Качественный ремонт автомобилей в Минске в сочетании с демократичными ценами.
               Работа с импортными и отечественными легковыми автомобилями,  а также микроавтобусами.
               2 удобно расположенных в центре столицы СТО с ультрасовременным техническим оснащением – в том числе, стенд для регулировки развал-схождения с технологией 3D.
               Квалифицированная команда, ответственно и креативно подходящая к решению типовых и нестандартных задач.
               Гарантия качества.
               Собственная служба снабжения, поставляющая автозапчасти от официальных дилеров.
               Индивидуальный подход к каждому автомобилю.
               Спецпредложение для корпоративных клиентов. Сегодня мы сотрудничаем более чем с 200 организациями.
               Поддержание обратной связи с администрацией.
               Удобное время работы: с 9.00 до 20.00 без выходных.
               Авто нуждается в ремонте? Свяжитесь с нами одним из способов:

               позвоните по телефонам, указанным в верхней части сайта;
               закажите обратный звонок;
               напишите нам, воспользовавшись чатом.
           </p>
            </div>


            <a class="waves-effect waves-light btn" href="~/Home/Index" onClick="scroll(0,0); return false" title="наверх"> On top </a>


</body>
}
  
