
@{
    ViewBag.Title = "Repairs4";
}

<h2>Замена ремня ГРМ</h2>
<div class="container">
    <div class="card-panel blue-grey lighten-5">
        Газораспределительный механизм (ГРМ) обеспечивает своевременное поступление топливной смеси в цилиндры двигателя и удаление из них отработанных газов. Принцип работы системы таков: распредвал воздействует на впускные и выпускные клапаны, вследствие чего они закрываются и открываются, вращение же распредвала происходит путем передачи крутящего момента от коленчатого вала двигателя при помощи ременной или цепной передачи.

        Главная задача ремня ГРМ – синхронизация поршневой группы и коленвала с распредвалом, что обеспечивает фазы газораспределения, установленные производителем двигателя.

        Широкая популярность именно ременной передачи обусловлена бесшумностью ее работы и высоким качеством современных ремней ГРМ.

        Замена ремня ГРМ в Минске производится специалистами ОДО «Эффектлига» на СТО, расположенных по адресу: ул. Старовиленская, 100 и ул. Октябрьская, 16.
        <p>Что происходит при обрыве ремня ГРМ?</p>
        При обрыве ремня распредвал останавливается, коленвал же продолжает крутиться, а поршни ударяют по оставшимся открытыми клапанам. Результат – погнутые клапаны, а иногда и поврежденные поршни, что приводит к капитальному ремонту двигателя или даже к его замене.

        К основным причинам обрыва ремня относят:

        высокую степень износа или низкое качество ремня;
        заклинившую помпу;
        заклинившие ролики;
        неисправности, подклинивания в распредвалах.
        Опасность обрыва ремня ГРМ состоит и в том, что он происходит чаще всего при перегрузках двигателя при наборе скорости – например, в случае обгона. Это может привести к созданию аварийной ситуации.

        Когда необходима замена ремня ГРМ?
        Западные изготовители рекомендуют замену ремней ГРМ после 100–120 тыс. км пробега, отечественные специалисты автосервисов – после 10–12 тыс. км, что обусловлено тяжелыми и непредсказуемыми условиями эксплуатации авто.

        Ремень ГРМ необходимо заменить при:

        покупке подержанного автомобиля;
        пробеге свыше 40 тыс. км;
        обнаружении  масла, трещин, «бахромы» на ремне при визуальном осмотре;
        износе сальников двигателя и подтекании масла.
        Не забывайте о профилактике и обязательно посещайте СТО раз в год для прохождения техосмотра.

    </div>
</div>
