
@{
    ViewBag.Title = "Repairs6";
}

<h2>Шиномонтаж</h2>
<div class="container">
    <div class="card-panel blue-grey lighten-5">
        Устойчивость автомобиля при движении, качество его сцепления с дорожным полотном обеспечивают колеса. При эксплуатации шин необходимо периодически контролировать соответствие давления в них нормам производителя, следите также за состоянием резины и протектора. От того, насколько 
        профессионально производится сезонная замена  шин или их ремонт зависит ваша безопасность, а также долговечность покрышек.
    </div>
</div>

