
@{
    ViewBag.Title = "Repairs2";
}

<h2>Диагностика и ремонт подвески</h2>
<div class="container">
    <div class="card-panel blue-grey lighten-5">
       
            Подвеска является одним из элементов автомобиля, подверженных самому быстрому износу. В режиме  эксплуатации она выдерживает на себе
         нагрузки, которые достигают определенно больших величин. В первую очередь подвеска  обеспечивает устойчивость машины на дороге, комфортность
         поездки и маневренность. Для того, чтобы езда была действительно комфортной и безопасной следует поддерживать  всю систему подвески автомобиля в идеальном состоянии, поэтому необходимо регулярно проводить диагностику и, при  первой необходимости, осуществлять замену деталей или ремонт подвески автомобиля в целом.

            Станции техобслуживания ОДО «Эффектлига» производят все виды ремонта подвесок автомобилей и микроавтобусов любых отечественных и импортных
         марок.

            При ремонте ходовой части автомобилей используются оригинальные запасные части, а также производства ведущих фирм-производителей.
             Решение об использовании тех или иных запасных частей принимается мастером СТО при согласовании с клиентом.
            Ремонт передней подвески автомобиля производится только с использованием специализированного профессионального инструмента, что позволяет
         соблюдать необходимую технологию и высокое качество работ при ремонте ходовой части.

            В наших автосервисах установлены современные компьютерные стенды для диагностики развал-схождение, а профессиональные мастера выполнят,
         при необходимости, регулировку развал-схождение для любых автомобилей. Также наши станции техобслуживания оборудованы компьютерными тормозными стендами и компьютерным стендом – шок-тестер амортизаторов.

            Помните: несвоевременное обращение в профессиональный автосервис приводит к высоким рискам Вашей безопасности на дороге!
            Хотелось бы обратить внимание наших клиентов на тот факт, что политика автосервиса Эффектлига ориентирована на индивидуальный подход в каждом отдельном случае и предоставление комплексных услуг. Это означает, что ремонт автомобилей на наших СТО подразумевает не только четкое исполнение требований, изложенных в заявках клиентов, но и проведение дополнительных диагностических мероприятий для выявления возможных иных неисправностей или скрытых дефектов. В особенности это касается ремонта подвески автомобиля. Автомеханик, выполняющий, к примеру, ремонт передней подвески, в обязательном порядке производит совершенно бесплатную первичную диагностику других узлов ходовой части. Поэтому, если в ходе такого осмотра обнаруживаются, например, неисправности в задней подвеске, то мастер предлагает клиенту произвести ремонт задней подвески. Совершенно логично, уже находясь в автосервисе и исправляя одно, также исправить и второе. Таким образом соблюдается наш принцип, состоящий в том, что автомобиль нашего клиента должен как можно реже пересекать ворота автосервиса. Мы исполняем профессиональный долг и ставим автовладельца в известность о том, что необходимо делать, определяя критичность того или иного момента, но решение о проведении любого ремонта принимает только владелец автомобиля,
             причем после того, как мастер СТО все расскажет и покажет, а клиент все увидит своими глазами.
            <p><b>Полная диагностика автомобильной подвески включает в себя следующее:</b></p>
        <p>Диагностика тормозных колодок, дисков, барабанов, тормозных шлангов.</p>
        <p>Диагностика амортизаторов, пружин, опорных чашек.</p>
        <p>Проверка люфтов в рулевых наконечниках, шаровых опорах, ШРУСах.</p>
        <p>Проверка подшипников ступиц.</p>
        <p>Проверка сайлентблоков и других узлов ходовой части автомобиля.</p>
        <p>Диагностика герметичности тормозной системы.</p>
        <p>Проверка состояния трансмиссии.</p>
        Стоит заметить, что если  при движении на своем автомобиле вы замечаете отклонения от обычного поведения машины на дороге,
         стук в подвеске или иные специфические звуки, признаки неисправности в тормозной системе или же рулевом управлении автомобиля,
         настоятельно рекомендуем незамедлительно обратиться в профессиональный автосервис Минска, где все выявленные неисправности в кратчайшие
         сроки будут устранены квалифицированными специалистами с использованием профессионального оборудования и специальных инструментов.
       

    </div>
</div>

